<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Niyazi's Personal Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Niyazi's Personal Site</title>
    <link  rel="stylesheet" href="../static/style.css" >
</head>

<body>
<table>
    <tbody>
    <tr>
        <td>
            <img src="../static/image_cv.png">
        </td>
        <td>
            <h1 id="name">Niyazi Cholak</h1>
            <p><em>Founder of <strong><a href="#">NC</a></strong>.</em></p>
            <p>I am an App and Web Developer. I ❤️ love coffee and motorcycles.</p>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<h3 class="heading">Books and Studying</h3>
<ul>
    <li>The Complete Full Stack Test Automation Engineer Bootcamp</li>
    <li>The Complete Web Development Bootcamp</li>
    <li>100 Days of Code - The Complete Python Bootcamp</li>
</ul>
<hr>
<h3>Work Experience</h3>
<table>
    <thead>
    <tr>
        <th>Dates</th>
        <th>Work</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2014-2018</td>
        <td>Financial Analyst</td>
    </tr>
    <tr>
        <td>2018-2022</td>
        <td>Quality Assurance - Junior Software Tester</td>
    </tr>
    <tr>
        <td>2023-2025</td>
        <td>Junior Digital Solutions Engineer</td>
    </tr>
    </tbody>
</table>
<hr>
<h3>Skills</h3>
<table>
    <tbody>
    <tr>
        <td>App Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
        <td>Photography</td>
        <td>⭐️⭐️⭐️⭐️</td>
    </tr>
    </tbody>
</table>

<hr>
<h3 class="heading">Other Pages</h3>
<a href="https://github.com/NiyaziPro?tab=repositories">My Repo's</a>
<a href="https://github.com/NiyaziPro">Contact Me</a>
</body>

</html>
